<center><h1>WELCOME TO ROCK PAPER SCISSORS</h1>
<h2>What's Your Move?</h2>

<form action="/rps_game" method="post">
  <label for="name">Rock</label>
  <input type="radio" name="human_play" value="rock">
  <label for="gender">Paper</label>
  <input type="radio" name="human_play" value="paper">
  <label for="color">Scissors</label>
  <input type="radio" name="human_play" value="scissors">
  <input type="submit" value="Click Here">
</form>
</center>